*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Rubik Mono One', sans-serif;
}
.conteiner{
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
}
ul li{
    display: inline-block;
}
.change{
    padding-top:20px;
    text-align: center;
    line-height: 200%;
}
li a{
    border-radius: 50%;
    border: 2px solid white;
    text-decoration: none;
    font-size: 20px;
    background-color: white;
    color: black;
    font-weight: 900;
    padding: 5px;
}
header {
    background-color: cyan;
    position: fixed;
    left: 0px;
    top: 0px;
  }
li{
    float: right;
    margin-left: 20px;
    margin-bottom: 5px;
}
.page{
   position: relative;
   height: 100%;
}
#First{
    background-color: red;
}
#Second{
    background-color: rgb(1, 68, 1);
}
#Third{
    background-color: yellow;
}
li:first-child{
    margin-right: 20px;
}
.mid-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.description{
    text-align: center;
    color: yellow;
    font-size: 70px;
}
.green{
    color: rgb(1, 68, 1);
}

